PREDICT DSALARY AGAIN

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
data=pd.read_csv('heart.csv')

In [28]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [35]:
X=data.drop("target",axis=1)
y=data["target"]

In [36]:
#choose the right mpdel
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [38]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
172,58,1,1,120,284,0,0,160,0,1.8,1,0,2
87,46,1,1,101,197,1,1,156,0,0.0,2,0,3
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2
226,62,1,1,120,281,0,0,103,0,1.4,1,1,3
201,60,1,0,125,258,0,0,141,1,2.8,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,52,1,1,128,205,1,1,184,0,0.0,2,0,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2

In [39]:
clf.fit(X_train,y_train);

In [40]:
#make a prediction
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
172,58,1,1,120,284,0,0,160,0,1.8,1,0,2
87,46,1,1,101,197,1,1,156,0,0.0,2,0,3
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2
226,62,1,1,120,281,0,0,103,0,1.4,1,1,3
201,60,1,0,125,258,0,0,141,1,2.8,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,52,1,1,128,205,1,1,184,0,0.0,2,0,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2

X_test

In [41]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2
200,44,1,0,110,197,0,0,177,0,0.0,2,1,2
77,59,1,1,140,221,0,1,164,1,0.0,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
108,50,0,1,120,244,0,1,162,0,1.1,2,0,2

In [42]:
y_preds =clf.predict(X_test)
y_preds

array([0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1], dtype=int64)

In [43]:
y_test

299    0
198    0
49     1
240    0
160    1
      ..
163    1
200    0
77     1
3      1
108    1
Name: target, Length: 91, dtype: int64

In [44]:
#evaluate the model on thre training data and testing data
clf.score(X_train,y_train)

1.0

In [45]:
clf.score(X_test,y_test)

0.8131868131868132

In [50]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.78      0.76      0.77        37
           1       0.84      0.85      0.84        54

    accuracy                           0.81        91
   macro avg       0.81      0.80      0.81        91
weighted avg       0.81      0.81      0.81        91

In [51]:
confusion_matrix(y_test,y_preds)

array([[28,  9],
       [ 8, 46]], dtype=int64)

In [53]:
accuracy_score(y_test,y_preds)

0.8131868131868132

In [58]:
5.#improve a model
np.random.seed(42)
for i in range (10,200,20):
    print(f"trying madel wth i estimators")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"model accuracy on test set :{clf.score(X_test,y_test)*100:.2f}%")
    print("")

trying madel wth i estimators
model accuracy on test set :81.32%

trying madel wth i estimators
model accuracy on test set :80.22%

trying madel wth i estimators
model accuracy on test set :83.52%

trying madel wth i estimators
model accuracy on test set :81.32%

trying madel wth i estimators
model accuracy on test set :82.42%

trying madel wth i estimators
model accuracy on test set :80.22%

trying madel wth i estimators
model accuracy on test set :82.42%

trying madel wth i estimators
model accuracy on test set :84.62%

trying madel wth i estimators
model accuracy on test set :82.42%

trying madel wth i estimators
model accuracy on test set :84.62%

In [64]:
#save the model and load it
import pickle
pickle.dump(clf,open("random_forst_model_1.pkl","wb"))

In [65]:
loaded_model=pickle.load(open("random_forst_model_1.pkl","rb"))
loaded_model.score(X_test,y_test)

0.8461538461538461